/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #232f3e;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-items {
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.cart-summary {
    width: 25%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-summary button {
    padding: 10px 20px;
    background-color: #ff9900;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}